body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}
span #color-description{
    font-size: small;
    color: #333;
}

#color-box {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    border: 2px solid #000;
    border-radius: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.start-active {
    background-color: #28a745;
}
.start-active:hover {
    background-color: #1b7731;
}

.button-link {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

.button-link:hover {
    background-color: #0056b3;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

.notification.show {
    display: block;
}

button:hover {
    background-color: #0056b3;
}
